<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <style>
        #checkin, #checkout{
            width: 18rem;
            height: 4rem;
            margin-top: 2rem;
            background-color: aquamarine;
        }
        #checkin{
            margin-top: 3rem;
        }
    </style>
<body>
    <!-- <img src="/photos/BDT300x179.png" class="img-fluid placeholder mx-auto d-block" alt="Logo"> -->
    <img src="https://placehold.co/340x200" class="img-fluid placeholder mx-auto d-block" id="logo" alt="Logo"><br>
    <img src="https://placehold.co/340x200" class="img-fluid placeholder mx-auto d-block" id="logo" alt="Clock to the date"><br>
    <a href="/checkin"><button type="button"  id="checkin" class="mx-auto d-block">Check-In</button></a>
    <a href="/checkout"><button type="button"  id="checkout" class="mx-auto d-block">Check-Out</button></a>
</body>
<%- include('../partials/script') %>
<script>  


</script>
</html>