<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <style>
        #logo {
            margin-top: 4rem;
        }
        .home{
            width: 18rem;
            height: 4rem;
            margin-top: 2rem;
            background-color: aquamarine;
        }
    </style>
<body>
    <img src="https://placehold.co/340x200" class="img-fluid placeholder mx-auto d-block" id="logo" alt="Logo"><br>
    <h1 class="text-center">Thank you for your participation !!!</h1>
    <p class="text-center">You can find your certification in your inbox of your email</p>
    <a href="/"><button type="button" class="home mx-auto d-block">Home</button></a>
</body>
<%- include('../partials/script') %>
<script>  


</script>
</html>